 
.wrapper {
  max-width: 100%; /* Устанавливаем ширину на 100% экрана */
  margin: 0 auto; /* Верхние и нижние поля */
}
.header {
  position: relative;
  width: 100vw; /* Растягиваем на всю ширину вьюпорта */
  min-height: 900px; /* Минимальная высота, можете адаптировать под свои нужды */
  background-color: var(--system-colors-miscellaneous-floating-tab-text-selected);
}


.header .column {
  position: absolute;
  width: 560px;
  height: 598px;
  top: 175px;
  left: 64px;
}

.header .content {
  position: absolute;
  width: 560px;
  height: 476px;
  top: 0;
  left: 0;
}

.header .medium-length-hero {
  position: absolute;
  width: 750px;
  top: -1px;
  left: 0;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--semantic-text-alternate);
  font-size: 56px;
  letter-spacing: 0;
  line-height: 67.2px;
}

.header .lorem-ipsum-dolor {
  position: absolute;
  width: 560px;
  top: 359px;
  left: 0;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--semantic-text-alternate);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.header .actions {
  position: absolute;
  width: 560px;
  height: 90px;
  top: 508px;
  left: 0;
}

.header .style-primary-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: #f4a900;
  border: 1px solid;
}

.header .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  margin-left: -2.00px;
  -webkit-text-stroke: 1px #00000033;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--semantic-text-primary);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.header .style-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: absolute;
  top: -2px;
  left: 364px;
  background-color: #f4a900;
  border: 1px solid;
}

.header .div {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  margin-left: -2.00px;
  -webkit-text-stroke: 1px #00000033;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--semantic-border-primary);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.header .link-four {
  left: 1316px;
  font-family: var(--text-small-semi-bold-font-family);
  font-weight: var(--text-small-semi-bold-font-weight);
  position: absolute;
  top: 23px;
  color: var(--semantic-text-alternate);
  font-size: var(--text-small-semi-bold-font-size);
  letter-spacing: var(--text-small-semi-bold-letter-spacing);
  line-height: var(--text-small-semi-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-small-semi-bold-font-style);
}

.header .link-two {
  left: 1058px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  top: 23px;
  color: var(--semantic-text-alternate);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.header .link-one {
  left: 914px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  position: absolute;
  top: 23px;
  color: var(--semantic-text-alternate);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.header .link-three {
  left: 1185px;
  font-family: var(--text-small-semi-bold-font-family);
  font-weight: var(--text-small-semi-bold-font-weight);
  position: absolute;
  top: 23px;
  color: var(--semantic-text-alternate);
  font-size: var(--text-small-semi-bold-font-size);
  letter-spacing: var(--text-small-semi-bold-letter-spacing);
  line-height: var(--text-small-semi-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-small-semi-bold-font-style);
}

.header .element {
  position: absolute;
  width: 173px;
  height: 52px;
  top: 13px;
  left: 38px;
  object-fit: cover;
}

.header .result {
  position: absolute;
  width: 626px;
  height: 720px;
  top: 114px;
  left: 795px;
  object-fit: cover;
}
